{% include bootstrap-header.html %}

<div class="jumbotron">
    <div class="container">
        <div class="row" style="text-align: center">
            <img src="images/logo-td.svg" style="border:none;height: 200px;"/>
            <h1>Customer Analytics in the Cloud</h1>
        </div>
    </div>
</div>

<div style="background-color: #f4f4f4;margin-top: -30px;border-bottom: solid 1px #ddd;padding:12px 0 6px 0;margin-bottom:30px;">
    <div class="container">
        <div class="row" style="text-align: center">
            <div style="margin-left: 30px;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-size="large"
                   data-url="http://heroku.github.io/nibs"
                   data-text="Nibs Sample App: Reference Architecture for Customer Engagement Applications #heroku #forcedotcom #exacttarget">Tweet</a>
                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>Treasure Data is a highly scalable analytics platform which enables organizations to drive enterprise level insights with access to their raw data. With Treasure Data, you can: understand user behavior, get aggregated insights, and segment your userbase. When combined with Heroku, organizations can now deploy customer engagement applications which integrate into Salesforce.com while also having the ability to do data driven analysis.</p><br/>

            <p>To demonstrate this, we've integrated Treasure Data into <a href="https://github.com/heroku/nibs">Nibs</a>, an open source customer rewards and loyalty app from Heroku. You can deploy your own version of our fork on Heroku in seconds using the Heroku button below:<br/><a href="https://heroku.com/deploy?template=https://github.com/treasure-data/td-nibs"><img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy"></a></p><br/>
            <p>Although you can start experiencing this app as a self-contained Ionic and Node.js application, its full power comes through the seamless integration with your business data in Salesforce made possible by Treasure Data.
            <br/><br/>
            To get the full integrated experience, connect Nibs to Salesforce using the Treasure Data console and try out a few queries on your raw data. Don't forget to check out the Nibs <a href="http://heroku.github.io/nibs/index.html">project page</a> for more information about the Nibs application itself.</p>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 3%;">

    <div class="row" style="padding-top: 4px;">
        <div class="col-lg-4">
            <div class="text-center">
                <img src="images/platform-heroku-logo.png"/>
                <h3>Heroku</h3>
            </div>
            <p>Heroku is a cloud platform as a service supporting several programming languages and provides the tools and services you need to build and deploy customer-facing applications without having to worry about infrastructure.</p>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <img src="images/platform-salesforce-logo.png"/>
                <h3>Salesforce.com</h3>
            </div>
            <p>Salesforce is the leading enterprise Software as a Service provider. Salesforce has the market leading CRM solution supporting each step of the customer lifecycle through its: Sales Cloud, Service Cloud, Marketing Cloud, Community Cloud and Analytics Cloud.</p>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <img src="images/platform-treasure-data.png"/>
                <h3>Treasure Data</h3>
            </div>
            <p>Analytics infrastructure, simplified in the cloud. Treasure Data helps organizations collect, analyze and act on their data safely and efficiently. We are a fully managed service with world class engineers who have your back so you can worry less and focus more on generating business insights.</p>
        </div>
    </div>

</div>


<div class="container">
    {{ content }}
</div>

{% include bootstrap-footer.html %}
